<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importer" chooseLabel="Importer" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['code','libelle']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Taches</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Code <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="datedemarre">Date  <p-sortIcon field="datedemarre"></p-sortIcon></th>
                        <th pSortableColumn="responsable">Description <p-sortIcon field="responsable"></p-sortIcon></th>
                        <th pSortableColumn="categorieTache">Etat Tache <p-sortIcon field="categorieTache"></p-sortIcon></th>
                        <th pSortableColumn="categorieTache">Libelle <p-sortIcon field="categorieTache"></p-sortIcon></th>
                        <th pSortableColumn="categorieTache">fullname <p-sortIcon field="categorieTache"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tacheIntervention>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="tacheIntervention"></p-tableCheckbox>
                        </td>
                        <td>{{tacheIntervention.code}}</td>
                        <td>{{tacheIntervention.date}}</td>
                        <td>{{tacheIntervention.description}}</td>
                        <td>{{tacheIntervention.etatTache}}</td>
                        <td>{{tacheIntervention.intervention.libelle}}</td>
                        <td>{{tacheIntervention.membreEquipe.collaborateur.fullname}}</td>

                        <td>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

      <app-chef-equipe-tache-create></app-chef-equipe-tache-create>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
