<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header=" Create a new request" [modal]="true" styleClass="p-fluid ">
    <ng-template pTemplate="content" >
        <div>
            <label>Code congee</label>
            <input type="text"  pInputTextarea autoResize="autoResize" [(ngModel)]="selected.code">
        </div>
        <div class="p-grid">


            <div class="p-field p-sm-12">
                <label>collaborateur</label>
                <select class="form-control" (change)="isSelected($event)" pInputText>
                    <option *ngFor="let c of collaborateurs" [value]="c.codeCollaborateur">
                        {{ c.fullname }}
                    </option>
                </select>
        </div>
            <div class="p-field p-sm-12">
                <label>Message  Collaborateur</label>
                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="selected.messageCollaborateur"></textarea>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="dateDepart">Date Départ</label>
                <input type="date" pInputText id="dateDepart" [(ngModel)]="selected.dateDepart" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateDepart">date is required.</small>
            </div>
            <div class="p-field p-sm-6">
                <label for="dateFin">Date Fin</label>
                <input type="date" pInputText id="dateFin" [(ngModel)]="selected.dateFin" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateFin">date is required.</small>
            </div>
        </div>


    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
