<div class="p-grid layout-dashboard">
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">{{ totalInterventions }}</div>
      <div class="overview-box-title">TOTAL</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">{{ encoursInterventions }}</div>
      <div class="overview-box-title">ENCOURS</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div
    class="p-col-12 p-md-6 p-lg-3"
    routerLink="/admin/view/admin-collaborateur"
  >
    <div class="overview-box card">
      <div class="overview-box-value">{{ numColaborateur }}</div>
      <div class="overview-box-title">COLLABORATEURS</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/equipes">
    <div class="overview-box card">
      <div class="overview-box-value">{{ numEquipes }}</div>
      <div class="overview-box-title">EQUIPES</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-xl-9">
    <div class="card card-w-title">
      <h5>Calendier</h5>
      <p-fullCalendar
        [events]="events"
        [options]="fullcalendarOptions"
      ></p-fullCalendar>
    </div>
  </div>
  <div class="p-col-12 p-md-3 p-lg-3">
    <div class="timeline card card-w-title">
      <h5>Demande Conge</h5>
      <ul *ngFor="let c of items.slice(0,4)">
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title">{{
            c.collaborateur.fullname
          }}</span>
          <span class="timeline-event-time"
            >{{ time(c.dateDepart, c.dateFin) }} jours</span
          >
          <p>{{ c.messageCollaborateur }}</p>
        </li>
        <!--        <li>-->
        <!--          <i class="pi pi-users"></i>-->
        <!--          <span class="timeline-event-title">Elwafi Elmehdi</span>-->
        <!--          <span class="timeline-event-time">1h</span>-->
        <!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <i class="pi pi-users"></i>-->
        <!--          <span class="timeline-event-title">Saida Id-younes</span>-->
        <!--          <span class="timeline-event-time">11h</span>-->
        <!--          <p>Bghit nmchi ltigmi twa7cht bzaf 3a2ilty obghit nchof anas o yasmine</p>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <i class="pi pi-users"></i>-->
        <!--          <span class="timeline-event-title">Adam Idk</span>-->
        <!--          <span class="timeline-event-time">3h</span>-->
        <!--          <p>Ana ma3andich mochkil mat3tiwnich conge aslan lay7fdak aba zwini.</p>-->
        <!--        </li>-->
      </ul>
    </div>
    <div class="p-col-12 p-xl-12" style="padding: 0; margin-top: 10px">
      <div class="card card-w-title">
        <h5>Intervention</h5>
      </div>
      <div
        class="overview-box card"
        style="height: 223px; padding: 0; position: relative"
      >
        <p-chart
          type="pie"
          [data]="data"
          style="position: absolute; top: 30px"
        ></p-chart>
      </div>
    </div>
  </div>
</div>
