<p-dialog [(visible)]="editDialog" [style]="{ width: '1200px',height: '100' }" header="Commande Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-md-5">
                <div class="p-field">
                    <label for="ref">Refernce</label>
                    <input
                            type="text"
                            pInputText
                            id="ref"
                            [(ngModel)]="selectevEquipe.ref"
                            required
                            autofocus
                    />
                    <small class="p-invalid" *ngIf="submitted && !selectevEquipe.ref"
                    >ref is required.</small
                    >
                </div>
                <div class="p-field">
                    <label for="ref">Code</label>
                    <input
                            type="text"
                            pInputText
                            id="code"
                            [(ngModel)]="selectevEquipe.code"
                            required
                            autofocus
                    />
                    <small class="p-invalid" *ngIf="submitted && !selectevEquipe.code"
                    >ref is required.</small
                    >
                </div>
                <div class="p-field">
                    <label for="libelle">libelle</label>
                    <input
                            type="text"
                            pInputText
                            id="libelle"
                            [(ngModel)]="selectevEquipe.libelle"
                            required
                            autofocus
                    />
                    <small class="p-invalid" *ngIf="submitted && !selectevEquipe.libelle"
                    >libelle is required.</small
                    >
                </div>
                <div class="p-field">
                    <label>Membre Equip</label>
                    <select class="form-control" (change)="isSelected($event)"  pInputText>
                        <option [value]=''>---select value-----</option>
                        <option *ngFor="let c of collaborateurs" [value]="c.codeCollaborateur">
                            {{ c.fullname }}
                        </option>
                    </select>
                </div>
                <button
                        pButton
                        label="Ajouter"
                        class="p-button-text"
                        (click)="saveMembre()"
                ></button>
            </div>
            <div class="p-md-7">
                <div class="card" style="height: 300px">

                    <p-table  [value]="membres" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['reference','total','totalPaye']"
                              [(selection)]="membreEquipe" [rowHover]="true" dataKey="id"
                              styleClass="p-datatable-customers"
                              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">membres equipe</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Code</th>
                                <th>Reference</th>
                                <th>libelle</th>
                                <th>Membre equipe</th>
                                <th>Chef equipe</th>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-equipe >
                            <tr>
                                <td>{{selectevEquipe.code}}</td>
                                <td>{{selectevEquipe.ref}}</td>
                                <td>{{selectevEquipe.libelle}}</td>
                                <td>{{equipe.collaborateur.codeCollaborateur}}</td>
                                <td><p-radioButton (onClick)="checkCheckBoxvalue(equipe)"  ></p-radioButton></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div></div></div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
